@import 'vars';
@import 'global';
@import 'fonts';

.header{
    background-color: #F1DDF4;
}
.header__title{
    text-align: center;
    padding: 24px 0px 16px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    color: #565860;
    text-transform: uppercase;
}
.instruction__title{
    text-align: center;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    text-transform: uppercase;
    span{
        font-weight: 700;
    }
}
.instruction__inner{
   display: flex;
    max-height: 572px;
}
.left__content{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.right__content{
    width: 100%;
    padding-top: 56px;
}
.instruction__item{
    display: flex;
    align-items: center;
    padding: 4px 42px 6px 91px;
    background-color: #fff;
    max-width: 461px;
    border-top-right-radius: 241px;
    border-bottom-right-radius: 241px;
    position: relative;
    margin-bottom: 42px;
    &-avatar{
        height: 115px;
        width: 115px;
        border-radius: 50%;
        border: solid 4px #923DA0;
        position: absolute;
        top: -11px;
        left: -56px;
    }
    span{
        font-size: 49px;
        line-height: 60px;
        font-weight: 700;
        color: #923DA0;
        margin-right: 16px;
    }
    p{
        font-size: 17px;
        line-height: 22px;
        font-weight: 500;
        color: #181A19;
    }
}
.about-product__right{
    max-width: 568px;
}
.about-product__boxTop{
    width: 100%;
    border-bottom: 1px solid #DCDCDC;
}
.boxTop__title{
    font-size: 33px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.boxTop__title-text,
.delivery-box{
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
}
.boxTop__title-text{
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}
.rate__wrapper{
    li{
        display: inline-block;
        padding: 0px 15px;
        border-right: 1px solid #727272;
        &:last-child{
            border: none;
        }
        a{
            color: #727272;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
        }
    }
}
.delivery-box{
    padding-left: 30px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 23px;
        background-image: url(../images/deliveryImg.svg);
    }
}

.about-product__boxBottom{
    padding-top: 15px;
}
.discount__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    .old-price{
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        color: #727272;
        padding-left: 8px;
        position: relative;
        &::before{
            content: '';
            width: 67px;
            height: 2px;
            background-color: #FF0000;
            left: 0;
            top: 15px;
            position: absolute;
        }
    }
    .percentages{
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: #FF6B00;
        position: relative;
        span{
            position: absolute;
            color: #fff;
            font-size: 16px;
            line-height: 18px;
            font-weight: 600;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.actual-price{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}


// sale -TIMER
.container1 {
    display: flex;
    justify-content: left;
}
.numbers1 {
    width: 80px;
    height: 75px;
    background: #FFD600;
    border-radius: 0px;
    margin-left: 20px;
    span {
        padding-left: 24px;
        margin-top: 20px;
        font-size: 30px;
        font-weight: 600;
    }
    .description1 {
        padding-top: 10px;
        padding-left: 13px;
    }
}

