@import "vars";
@import "global";
@import "fonts";

.header {
    background-color: #f1ddf4;
}
.header__title {
    text-align: center;
    padding: 24px 0px 16px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    color: #565860;
    text-transform: uppercase;
}

.about-product__inner{
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}
.slider__inner{
    max-width: 612px;
    .slider__item-woman{
        position: relative;
        .text-box{
            max-width: 339px;
            position: absolute;
            left: 0;
            bottom: 21px;
            &__item{
                width: 100%;
                background-color: #923DA0;
                font-size: 18px;
                line-height: 22px;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                padding: 15px 37px 13px 69px;
                margin-bottom: 13px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    left: 26px;
                    top: 15px;
                    width: 22px;
                    height: 16px;
                    background-image: url(../images/slider-img/checkIcon.png);
                }
            }
        }
    }
    .slider__item-beforeAfter{
        color: #fff;
        .beforeAfter-text__box{
            width: 100%;
            display: flex;
            justify-content: space-around;
            background-color: #923DA0;
            padding: 15px 0px;
            .beforeAfter-text__item{
                font-size: 14px;
                line-height: 17px;
                font-weight: 700;
                text-transform: uppercase;  
            }
        }
    }
}




.about-product__right {
    max-width: 568px;
}
.about-product__boxTop {
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
}
.boxTop__title {
    font-size: 33px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.boxTop__title-text,
.delivery-box {
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
}
.boxTop__title-text {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}
.rate__wrapper {
    .rating{
        display: inline-flex;
        flex-direction: row-reverse;
        margin-right: 8px;
        .rating__item{
            color: #dcdcdc;
            cursor: pointer;
            transition: .2s;
            &:hover{
                color: #EF5252;
                & ~ .rating__item{
                    color: #EF5252;
                }
            }  
        }
    }
    .rating[data-total-value="1"] .rating__item:nth-child(n + 2),
    .rating[data-total-value="2"] .rating__item:nth-child(n + 1){
        color: #EF5252;
    }
    li {
        &:first-child{
            padding-left: 0;
        }
        display: inline-block;
        padding: 0px 15px;
        border-right: 1px solid #727272;
        &:last-child {
            border: none;
        }
        a {
            color: #727272;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
        }
    }
}
.delivery-box {
    padding-left: 30px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 23px;
        background-image: url(../images/deliveryImg.svg);
    }
}

.about-product__boxBottom {
    padding-top: 15px;
    form {
        margin-top: 20px;
        .input__box{
            display: flex;
            align-items: center;
        }
        span {
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;
            color: #727272;
        }
        //INPUT NUMBER
        .row {
            text-align: center;
            width: 200px;
            margin-left: -26px;
        }
        .number {
            display: inline-block;
            position: relative;
            width: 112px;
        }
        .number input[type="number"] {
            display: block;
            height: 37px;
            line-height: 32px;
            width: 100%;
            padding: 0;
            margin: 0;
            color: #565860;
            border-radius: 29px;
            border: solid 1px #c4c4c4;
            box-sizing: border-box;
            text-align: center;
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            appearance: textfield;
        }
        .number input[type="number"]::-webkit-outer-spin-button,
        .number input[type="number"]::-webkit-inner-spin-button {
            display: none;
        }
        .number-minus {
            position: absolute;
            top: 1px;
            left: 1px;
            bottom: 1px;
            width: 40px;
            border-top-left-radius: 29px;
            border-bottom-left-radius: 29px;
            padding: 0;
            display: block;
            text-align: center;
            border: none;
            border-right: 1px solid #ddd;
            color: #565860;
        }
        .number-plus {
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            width: 40px;
            border-top-right-radius: 29px;
            border-bottom-right-radius: 29px;
            padding: 0;
            display: block;
            text-align: center;
            border: none;
            border-left: 1px solid #ddd;
            color: #565860;
        }
        //INPUT NUMBER
        .main__btn {
            background-color: #ff6b00;
            font-size: 18px;
            font-weight: 600;
            display: block;
            padding: 22px 50px 19px 61px;
            color: #fff;
            text-transform: uppercase;
            margin-top: 38px;
            border: none;
        }
    }
}
.boxBottom-time__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discount__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    .old-price {
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        color: #727272;
        padding-left: 8px;
        position: relative;
        &::before {
            content: "";
            width: 67px;
            height: 2px;
            background-color: #ff0000;
            left: 0;
            top: 15px;
            position: absolute;
        }
    }
    .percentages {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: #ff6b00;
        position: relative;
        span {
            position: absolute;
            color: #fff;
            font-size: 16px;
            line-height: 18px;
            font-weight: 600;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.actual-price {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}
.boxBottom__date {
    h4 {
        font-size: 14px;
        line-height: 15px;
        font-weight: 600;
        padding-left: 20px;
        position: relative;
        color: #131414;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/timerIcon.svg);
            height: 16px;
            width: 16px;
            left: 0;
            top: 0;
        }
    }
}
//-TIMER
.container1 {
    display: flex;
    justify-content: left;
}
.numbers1 {
    width: 60px;
    height: 55px;
    background: #ffd600;
    border-radius: 0px;
    margin-left: 20px;
    text-align: center;
    color: #131414;
    padding: 4px 0px 8px;
    span {
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
    }
    .description1 {
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
    }
}

.instruction__title {
    text-align: center;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    text-transform: uppercase;
    span {
        font-weight: 700;
    }
}
.instruction__inner {
    display: flex;
    max-height: 572px;
}
.left__content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.right__content {
    width: 100%;
    padding-top: 56px;
}
.instruction__item {
    display: flex;
    align-items: center;
    padding: 4px 42px 6px 91px;
    background-color: #fff;
    max-width: 461px;
    border-top-right-radius: 241px;
    border-bottom-right-radius: 241px;
    position: relative;
    margin-bottom: 42px;
    &-avatar {
        height: 115px;
        width: 115px;
        border-radius: 50%;
        border: solid 4px #923da0;
        position: absolute;
        top: -11px;
        left: -56px;
    }
    span {
        font-size: 49px;
        line-height: 60px;
        font-weight: 700;
        color: #923da0;
        margin-right: 16px;
    }
    p {
        font-size: 17px;
        line-height: 22px;
        font-weight: 500;
        color: #181a19;
    }
}
